<html>
<head>
<link rel="stylesheet" href="app.css" type="text/css"/>
<script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/13C1403D-6F10-D548-A453-888CA40A9D27/main.js" charset="UTF-8"></script><script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/13C1403D-6F10-D548-A453-888CA40A9D27/main.js" charset="UTF-8"></script><script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/13C1403D-6F10-D548-A453-888CA40A9D27/main.js" charset="UTF-8"></script>
</head>

<body>
    <header>
    <h1>todo<span>list<span></h1>
    <h2>A simple todo list app built with node</h2>
    </header>
    
    <section class="form">
    <input type="text" id="todoInput" placeholder="Insert your text...">
    </section>
    
    <ul class="list">
    
    </ul>
    <script type="text/javascript" src="app.js"></script>
</body>

</html>